i{
  font-style: normal;
  font-family: 'Material Icons';
}

.instagram-logo{
  height: 1.2em;
  object-fit: contain;
  object-position: center;
}

.dropdown{
  &:after{
    display: inline-block;
    vertical-align: top;
    content: "arrow_drop_down";
    font-family: 'Material Icons';
  }
}

.quote{
  position: relative;
  color: #888888 !important;
  &:before{
    content: "chat_bubble ";
    font-family: 'Material Icons';
    position: relative;
    top: 3px;
    font-size: 1.2em;
    vertical-align: top;
    @media screen and (max-width: $break-medium){
      content: "chat_bubble \A";
      white-space: pre;
      left: 0;
    }
  }
}

.small{
  font-weight: 100;
  color: #555555 !important;
  font-size: 0.8em;
}

.shadow{
  box-shadow: 0px 0px 3px #757575;
}

.visible{
  display: block !important;
}

.profile-img{
  border-radius: 32px;
}

[class*="col-"]{
  display: inline-block;
  word-break: break-all;
  word-wrap: break-word;
}

.col-7-10{
  width: 70%;
}

.col-6-10{
  width: 60%;
}

.col-4-10{
  width: 40%;
}

.col-3-10{
  width: 30%;
}

.col-1-4{
  width: 25%;
}

.col-3-4{
  width: 75%;
}

.col-1-2{
  width: 50%;
}